* {
  box-sizing: border-box;
}

#fullInput {
  /* background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat; */
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#fullTable {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  width: 90%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#fullTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#fulltTable th {
  background-color: #f1f1f1;
}

#fullTable tr {
  border-bottom: 1px solid #ddd;
}

#fullTable tr.header, #fullTable tr:hover {
  background-color: #f1f1f1;
}
